.transaction-status {
  display: inline;
  &--unapproved {
    color: $flamingo;
  }
  &--failed {
    color: $valencia;
  }
  &--cancelled {
    color: $valencia;
  }
  &--queued {
    color: $Grey-500;
  }
}
